.button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #9e2a2b;
  color: #fff3b0;

  border: 0px solid;
  border-radius: 10px;

  font-weight: bolder;
}

.button:hover {
  background-color: #540b0e;
}

.button:active {
  color: #e09f3e;
}

.text {
  margin: 0.7rem;
}

.number {
  background-color: #e09f3e;

  border: 0px solid;
  border-radius: 10px;

  padding: 0.3rem;
}
